.App {
  /* text-align: center; */
  color: #464655;
}

body {
  height: 100vh;
  background-color: lightgray;
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
  width: 100%;
}

.resultsContainer {
  /* display: flex;
  justify-content: flex-start; */
}

.searchResults, .weatherData {
  position: absolute;
}

.cityOption:hover {
  background-color: rgba(236, 222, 222, 0.45);
}

.fieldWrapper {
  background-color: lightgray;
  position: relative;
}


.fieldLabel {
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  opacity: 1;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}

.field.locked {
  pointer-events: none;
}

.fieldInput {
  width: 100%;
  height: 56px;
  margin-left: -10px;
  position: relative;
  padding: 20px;
  border: 1px solid darkgray;
  border-radius: 10px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #282828;
  outline: none;
  -webkit-appearance: none;
}

.temperatureData {
  display: flex;
  justify-content: space-evenly;
}

.temperatureScale {
  display: flex;
}

.temperatureValue {
  font-size: 50px;
}

.selectedScale {
  font-weight: 600;
}
